@use "../utils/mixins";
@use "../utils/variables";

.accordion {
  width: 100%;
}

.accordion__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 65px;
  position: relative;
  padding: 14px 12px 14px 20px;
  margin-bottom: 12px;

  background: linear-gradient(96.49deg, #00E0E0 5.97%, #00C6FF 98.25%);
  border-radius: 40px;

  &:before {
    border-radius: 40px;
  }

  h4 {
    color: rgba(1, 69, 137, 1);
    font-size: 14px;
    padding-right: 42px;
    font-weight: 600;
    line-height: 18.2px;
  }

  &:hover {
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(96.49deg, #00E0E0 5.97%, #00C6FF 98.25%);
    box-shadow: 0 0 20px 0 #04F4E280;
  }
  &:last-child{
    margin-bottom: 0;
  }
}

.accordion__tab-container {
  position: relative;
  min-height: 32px;
  display: flex;
  align-items: center;
  width: 100%;
}

.accordion__caret {
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .35s;
  background: #014589;

  svg {
    position: relative;
    max-width: 100%;
    height: auto;
    transform-origin: 50% 50%;
    transition: .3s;

    circle {
      fill: transparent;
    }
  }

  &:hover,
  &:focus {

  }

  &:active {

  }
}

.accordion__item-display {
  max-height: 0;
  background: none;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  overflow: hidden;

  ul li {
    padding-left: 25px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #FFFFFF;
      left: 10px;
      top: 6px;
    }
  }
}

.accordion__item.active {
  background: transparent;
  display: flow-root;
  position: relative;
  border-radius: 30px;

  &:before {
    border-radius: 30px;
  }

  .accordion__item-display {
    max-height: 500px;
    padding: 16px 42px 0 0;
    transition: max-height 1s ease;
    overflow: hidden;
  }

  h4 {
    color: rgba(0, 230, 255, 1);
  }

  &:hover {
    box-shadow: none;
  }

  > .accordion__tab-container:hover {
    .accordion__caret {
      box-shadow: 0 0 20px 0 #04F4E280;
      background:
      linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      linear-gradient(96.49deg, #00C6FF 5.97%, #05FFDA 98.25%);
    }
  }
}

.active .accordion__caret {
  background: linear-gradient(96.49deg, #00C6FF 5.97%, #05FFDA 98.25%);
  box-shadow: none;

  svg {
    transform: rotate(180deg);

    circle {
      fill: transparent;
    }

    path {
      stroke: #014589;
    }
  }
}

@include mixins.respond-to(variables.$sm){
  .accordion__item h4{
    line-height: 20.8px;
  }
}