@use "../utils/mixins";
@use "../utils/variables";

$width: 320px;
$height: 280px;

.about-grid__animation-col {
  position: relative;
  width: 100%;
}

.pill-anim__bg-circle {
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  opacity: 0.8;
  background: radial-gradient(50% 50% at 50% 50%, #2052d1 58.89%, rgba(72, 70, 217, 0) 100%);
  filter: blur(50px);
}

.pill-anim__components{
  position: absolute;
}

.pill-anim__circle{
  position: absolute;
  //border-radius: 50%;
  //border: 1px solid #00c6ff;
  opacity: 0.6;

  object {
    height: 100%;
    display: block;
    width: 100%;
  }
}

.pill-anim__component {
  position: absolute;
  height: auto;
}

.pill-anim__color-circle {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(234deg, #1fff78 29%, rgba(31, 255, 120, 0) 63.81%);
  filter: blur(48px);
}

.pill-anim__images {
  width: 100%;
  transform-origin: center;
  opacity: 0;
}

.timeline-started .pill-anim__images {
  opacity: 1;
}

.pill-anim__pill {
  position: absolute;
  height: auto;
}

.pill-anim__images-circle {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #00c6ff;
}

.pill-anim__logo {
  position: absolute;
  height: auto;
}

@mixin pillBlockGenerator($width, $height) {
  .pill-anim-wrap {
    width: $width;
  }

  .pill-anim__bg-circle {
    width: calc($width * 0.49936);
    height: calc($width * 0.49936);
  }

  .pill-anim__components {
    width: calc($width * 0.8571);
    height: calc($height * 0.8125);
    transform-origin: calc($height * 0.4761) center;
  }

  .pill-anim__circle {
    width: calc($width * 0.31047);
    height: calc($width * 0.31047);
  }

  .pill-anim__circle_1 {
    top: calc($height * 0.1875);
    left: calc($width * 0.1666);
  }

  .pill-anim__circle_2 {
    top: calc($height * 0.1125);
    left: calc($width * 0.4095);
  }

  .pill-anim__circle_3 {
    top: calc($height * 0.36);
    left: calc($width * 0.3238);
  }

  .pill-anim__color-circle_1 {
    width: calc($width * 0.26667);
    height: calc($width * 0.26667);
    top: calc($height * 0.1875);
    left: calc($width * 0.09);
  }

  .pill-anim__color-circle_2 {
    width: calc($width * 0.26667);
    height: calc($width * 0.26667);
    top: calc($height * 0.1125);
    left: calc($width * 0.5333);
  }

  .pill-anim__color-circle_3 {
    width: calc($width * 0.1714);
    height: calc($width * 0.1714);
    top: calc($height * 0.46);
    left: calc($width * 0.4571);
  }

  .pill-anim__component_1 {
    top: calc($height * 0.05);
    left: calc($width * 0.0152);
    width: calc($width * 0.4838);
    transform: rotate(0.357deg);
  }

  .pill-anim__component_2 {
    top: calc($height * 0.035);
    left: calc($width * 0.4657);
    width: calc($width * 0.46);
    transform: rotate(360.604deg);
  }

  .pill-anim__component_3 {
    top: calc($height * 0.40875);
    left: calc($width * 0.3523);
    width: calc($width * 0.3466);
  }

  .pill-anim__images {
    height: calc($height * 0.875);
  }

  .pill-anim__images-circle {
    left: calc($width * 0.3904);
    top: calc($height * 0.125);
    width: calc($width * 0.4171);
    height: calc($width * 0.4171);
  }

  .pill-anim__pill {
    width: calc($width * 0.3742);
    left: calc($width * 0.1904);
    top: calc($width * 0.1904);
  }

  .pill-anim__logo {
    width: calc($width * 0.2361);
    //left: calc($width * 0.5904);
    left: calc($width * 0.55);
    top: calc($height * 0.375);
  }
}

@include pillBlockGenerator($width, $height);

.pill-anim-wrap{
  width: 100%;
  border-radius: 34px;
  background: radial-gradient(54.03% 53.88% at 55.47% 52.34%, rgba(6, 89, 172, 0) 0%, rgba(0, 53, 108, 0.5) 95.74%);
  overflow: hidden;
}

.pill-anim-wrap__inner {
  position: relative;
  left: 50%;
  transform: translate(-50%, -2%);
  width: 320px;
  height: 211px;
}

@include mixins.respond-to(variables.$sm) {
  $width: 685px;
  $height: 573px;

  .about-grid__header-col {
    position: relative;
    z-index: 2;
  }

  .pill-anim-wrap__inner {
    height: 374px;
    width: 100%;
    transform: translate(-45%, -10%) scale(0.85);
    z-index: 1;
  }

  @include pillBlockGenerator($width, $height);
}

