@use "../utils/mixins";
@use "../utils/variables";

.menu {
  margin-top: auto;
  margin-bottom: auto;
  padding: 40px 0;
  &__item {
    font-family: variables.$main-font;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
    transition: .35s;

      &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    padding-right: 20px;
    &:after {
      position: absolute;
      content: '';
      background-image: url(../assets/img/arrow-right.svg);
      width: 32px;
      height: 32px;
      background-position: center;
      background-size: 32px 32px;
      right: -27px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }

  @include mixins.respond-to(variables.$md) {

  }
}
