@use "../utils/mixins";
@use "../utils/variables";

.modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 312px;
  transform: translate(-50%, -50%);
  padding: 40px 20px 30px;
  background: radial-gradient(50.47% 50% at 47.91% 50%, #0659AC 0%, #00356C 95.74%);
  border-radius: 30px;
  max-height: 526px;
  height: 100%;
  z-index: 1000;

  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__header {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-bottom: 30px;
  }

  &__inner {
    max-height: 526px;
    height: 100%;
    overflow-y: auto;
  }

  &__body {
    font-size: 14px;
    line-height: 16.8px;
    overflow: hidden;

    b {
      font-weight: 700;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 20px;
  }

  .thumb {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    flex-shrink: 0;

    img {
      width: 100%;
      pointer-events: none;
    }
  }

  .card-modal {
    position: relative;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 30px;
    background: linear-gradient(87.04deg, rgba(28, 126, 176, 0.25) 2.46%, rgba(28, 126, 176, 0) 105.58%);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    min-height: 243px;

    ul {
      width: 100%;

      li {
        position: relative;
        color: #00E6FF;
        padding-left: 36px;

        &:before {
          position: absolute;
          content: '';
          display: block;
          background-image: url(../assets/img/popup/ul-chek.svg);
          background-position: center;
          background-size: cover;
          width: 26px;
          height: 26px;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
    }

    &__footer {
      width: 145px;
    }
  }

  .img {
    width: 106px;
    height: 156px;
    position: absolute;
    right: -18px;
    bottom: 13px;
    z-index: 1;
  }

  sup {
    font-size: 11px;
  }
}

.round {
  -webkit-animation: rotate 2s normal linear infinite;
  animation: rotate 2s normal linear infinite;
  transform-origin: center center;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.modal-play {
  text-align: center;
  font-size: 16px;
  line-height: 19.2px;

  .text_xl {
    font-size: 24px;
    line-height: 28.8px;
  }

  .text {
    max-width: 342px;
    font-size: 20px;
    line-height: 24px;
  }

  .btn_secondary,
  .text-end {
    display: none;
    margin-bottom: 12px;
  }
}

.roulette {
  position: relative;
  width: 240px;
  height: 245px;
  margin: 0 auto 10px;
  cursor: pointer;

  .roulette__circle-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
  }
  .roulette__data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    transition: transform 3s cubic-bezier(0.1, 0.7, 0.1, 1);
  }

  &__wheel {
    transform: rotate(60deg);
    transform-origin: center center;
    transition: transform 3s cubic-bezier(0.1, 0.7, 0.1, 1);
    position: relative;
    cursor: pointer;
    z-index: 2;
  }

  &__svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
  }

  &__spin {
    position: absolute;
    width: 50px;
    height: 61px;
    background-image: url(../assets/img/popup/hand.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    bottom: 6px;
    right: -15px;
    z-index: 5;
  }
}

.btn_discount {
  max-width: 224px;
  margin: 0 auto;
}

@include mixins.respond-to(variables.$sm) {
  .modal {
    max-height: 560px;
    border-radius: 80px;
    max-width: 658px;
    padding-right: 72px;
    padding-left: 72px;

     &.modal-info {
       padding-top: 55px;
       padding-bottom: 55px;
       &:before {
         position: absolute;
         content: '';
         display: block;
         width: 219px;
         height: 219px;
         opacity: 0.6;
         filter: blur(70px);
         z-index: 0;
         right: 50px;
         border-radius: 50%;
         bottom: 90px;
         overflow: hidden;
         background: #00E6FF;
         pointer-events: none;
       }
     }

    &__header {
      font-size: 32px;
      line-height: 38.4px;
      margin-bottom: 35px;
    }

    &__content {
      font-size: 16px;
      line-height: 19.2px;
      padding-bottom: 35px;
      width: 64%;
    }

    .img {
      width: 125px;
      height: 186px;
      right: -12px;
      bottom: 60%;

    }

    .thumb {
      width: 64px;
      height: 64px;
      margin-right: 13px;
    }

    .card-modal {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 30px;
      font-size: 20px;
      line-height: 24px;
      min-height: 178px;
      max-width: 493px;

      ul {
        width: 80%;

        li:before {
          width: 30px;
          height: 30px;
        }
      }
    }

    .btn_modal-close {
      width: 54px;
      height: 54px;
      top: 40px;
      right: 40px;
    }

    .card-modal__footer {
      padding-bottom: 0;
    }

    .trigger-play {
      min-width: 205px;
    }
  }
  .roulette {
    width: 312px;
    height: 320px;
    margin-bottom: 18px;
    &__spin{
      width: 67px;
      height: 81px;
      background-size: contain;
      bottom: 16px;
      right: -30px;
    }
    &__svg {
      width: 100%;
      height: 100%;
    }
  }
  .modal-play{
    padding-top: 30px;
    padding-bottom: 44px;
    .text{
      font-size: 20px;
      line-height: 24px;
      margin: 0 auto 6px;
    }
  }
}


