.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {

  bottom: 0;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  margin: 0 6px 0 0 !important;
  background: linear-gradient(96.49deg, #05FFDA 5.97%, #00C6FF 98.25%);
  opacity: .2;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

////navigation slider
//
//.swiper-button-next,
//.swiper-button-prev {
//  width: 64px;
//  height: 64px;
//  border: 1px solid #46B600;
//  border-radius: 50%;
//  top: auto;
//  margin-top: 96px;
//}
//
//.swiper-button-next {
//  right: auto;
//  left: 118px;
//}
//
//.swiper-button-prev {
//  left: 0;
//}
//
//.swiper-button-prev:before,
//.swiper-button-next:before {
//  position: absolute;
//  content: '';
//  display: block;
//  width: 24px;
//  height: 24px;
//  left: 50%;
//  top: 50%;
//  transform: translate(-50%, -50%);
//  background-image: url(../assets/img/triangle.svg);
//  background-repeat: no-repeat;
//  background-size: auto;
//  background-position: center;
//}
//
//.swiper-button-prev:before {
//  transform: translate(-50%, -50%) rotate(180deg);
//}
//
//.swiper-button-prev:after,
//.swiper-button-next:after {
//  display: none;
//}
//
//@include respond-to($sm) {
//  .swiper-horizontal > .swiper-pagination-bullets,
//  .swiper-pagination-bullets.swiper-pagination-horizontal {
//    bottom: 0;
//  }
//}