.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {

  bottom: 0;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  margin: 0 6px 0 0 !important;
  background: linear-gradient(96.49deg, #05FFDA 5.97%, #00C6FF 98.25%);
  opacity: .2;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
