// fonts

$main-font: "Manrope", sans-serif;

// bg and color
$white: #ffffff;
$black: #000000;
// Screen Variables


$xxs: '(min-width: 360px)';
$xs: '(min-width: 576px)';
$sm: '(min-width: 768px)';
$md: '(min-width: 1025px)';
$lg: '(min-width: 1280px)';
$xl: '(min-width: 1440px)';
$xxl: '(min-width: 1920px)';




