@use "sass:math";
// ANIM STARS
@keyframes scaleAnim {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.star{
  transition: .35s;
}
.improvement-stars .star {
  animation: scaleAnim 2s infinite ease-in-out;

  @for $i from 1 through 32 {
    &:nth-child(#{$i}) {
      animation-delay: 0.45s * ($i - 1);
    }
  }
}

.banner__stars .star {
  animation: scaleAnim 2s infinite ease-in-out;

  @for $i from 1 through 29 {
    &:nth-child(#{$i}) {
      animation-delay: 0.45s * ($i - 1);
    }
  }
}
.about-stars .star{
  animation: scaleAnim 3s infinite ease-in-out;

  @for $i from 1 through 43 {
    &:nth-child(#{$i}) {
      animation-delay: 0.45s * ($i - 1);
    }
  }
}
.moving-element {
  filter: blur(65px);
  background: radial-gradient(93.19% 74.17% at 30% 59%, rgb(255, 255, 255), rgb(204, 0, 255) 52.831%, rgb(35, 141, 172) 100%);
  opacity: 0.28;
  z-index: 0;
  position: absolute;
  transition: transform 1s;
  animation: flow .5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

