@use "sass:math";

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

// ANIM STARS
@keyframes scaleAnim {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.star{
  transition: .35s;
  animation: scaleAnim 1s infinite ease-in-out;
}
.stars{
  position: absolute;
  pointer-events: none;
  width: auto;
  max-width: none;
  z-index: 1;
}
//
//.sticky-stars .star{
//  @for $i from 1 through 36 {
//    &:nth-child(#{$i}) {
//      animation-delay: 0.2s * ($i - 1);
//    }
//  }
//}
//
//.improvement-stars .star {
//    @for $i from 1 through 32 {
//    &:nth-child(#{$i}) {
//      animation-delay: 0.45s * ($i - 1);
//    }
//  }
//}

.banner__stars .star {
  @for $i from 1 through 29 {
    &:nth-child(#{$i}) {
      animation-delay: 0.45s * ($i - 1);
    }
  }
}
.about-stars .star{
  @for $i from 1 through 43 {
    &:nth-child(#{$i}) {
      animation-delay: 0.2s * ($i - 1);
    }
  }
}
.moving-element {
  filter: blur(65px);
  background: radial-gradient(93.19% 74.17% at 30% 59%, rgb(255, 255, 255), rgb(204, 0, 255) 52.831%, rgb(35, 141, 172) 100%);
  opacity: 0.28;
  z-index: 0;
  position: absolute;
  transition: transform 1s;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(40vw, 30%);
  }
  40%{
    transform: translate(80vw, 10%);
  }
  60% {
    transform: translate(55vw, 60%);
  }
  80% {
    transform: translate(35vw, 30%);
  }
  100% {
    transform: translate(0,0);
  }
}

@keyframes float1 {
  0% {
    transform: translate(-50%, 0);
  }
  25% {
    transform: translate(-20%, 10%);
  }
  50% {
    transform: translate(-40%, 70%);
  }
  75% {
    transform: translate(-20%, 30%);
  }
  100% {
    transform: translate(-50%,0);
  }
}

@keyframes float2 {
  0% {
    transform: translate(10vw, 20vh);
  }
  25% {
    transform: translate(50vw, 50vh);
  }
  50% {
    transform: translate(90vw, 10vh);
  }
  75% {
    transform: translate(30vw, 80vh);
  }
  100% {
    transform: translate(10vw, 20vh);
  }
}

@keyframes float3 {
  0% {
    transform: translate(50vw, 50vh);
  }
  25% {
    transform: translate(20vw, 30vh);
  }
  50% {
    transform: translate(70vw, 80vh);
  }
  75% {
    transform: translate(10vw, 10vh);
  }
  100% {
    transform: translate(50vw, 50vh);
  }
}