@use "sass:math";
// ANIM STARS
@keyframes scaleAnim {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.banner__stars .star {
  animation: scaleAnim 2s infinite ease-in-out;

  @for $i from 1 through 29 {
    &:nth-child(#{$i}) {
      animation-delay: 0.45s * ($i - 1);
    }
  }
}

//.banner__stars_2 .star {
//  animation: scaleAnim 2s infinite ease-in-out;
//
//  @for $i from 1 through 7 {
//    &:nth-child(#{$i}) {
//      animation-delay: 0.7s * ($i - 1);
//    }
//  }
//}

//.block-stars {
//  position: absolute;
//  width: 100vw;
//  max-width: 696px;
//  height: 266px;
//  z-index: 0;
//  pointer-events: none;
//  svg {
//    max-width: 100%;
//    height: auto;
//    display: block;
//  }
//}







//-------------------
//fly bg
//@keyframes randomMove {
//  @for $i from 0 through 100 {
//    $x: math.random(100); // Рандомна X координата (від 0% до 100%)
//    $y: math.random(100); // Рандомна Y координата (від 0% до 100%)
//
//    #{$i}% {
//      transform: translate(#{$x}%, #{$y}%); // Рух елемента
//    }
//  }
//}

.moving-element {
  z-index: -1;
  //width: 50px;
  //height: 50px;
  //background: radial-gradient(73.78% 95.01% at 30.41% 58.54%, #FFFFFF 0%, #CC00FF 52.83%, #238DAC 100%) ;
  //backdrop-filter: blur(300px);
  //border-radius: 50%;
  position: absolute;

  /* Анімація руху */
  transition: transform .5s;
}



//----------------------------------------

//.container-flow {
//  filter: blur(65px);
//  background: radial-gradient(93.19% 74.17% at 30% 59%, rgb(255, 255, 255), rgb(204, 0, 255) 52.831%, rgb(35, 141, 172) 100%);
//  opacity: 0.28;
//
//  width: 330px;
//  height: 330px;
//  position: absolute;
//  top: 65px;
//  left: 100px;
//  transform: translateX(-100%);
//  z-index: 1;
//  animation: flow 10s cubic-bezier(0.42, 0, 0.58, 1) infinite;
//}
//
//@mixin random-keyframes($steps) {
//  $start-x: random(100); // Початкова позиція X
//  $start-y: random(100); // Початкова позиція Y
//
//  @keyframes flow {
//    0% {
//      background-position: $start-x + "%" + " " + $start-y + "%"; // Початкові координати
//    }
//
//    @for $i from 1 through $steps {
//      $percentage: ($i / $steps) * 100%;
//      $x: random(100);
//      $y: random(100);
//      #{$percentage} {
//        background-position: $x + "%" + " " + $y + "%";
//      }
//    }
//
//    100% {
//      background-position: $start-x + "%" + " " + $start-y + "%"; // Повторюємо початкові координати
//    }
//  }
//}
//
//@include random-keyframes(10);

