@use "../utils/mixins";
@use "../utils/variables";


.title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  margin-bottom: 30px;

  b {
    font-weight: 600;
  }
}

.title_xl {
  font-family: "Manrope", sans-serif;
  font-size: 88px;
  font-weight: 800;
  line-height: 97px;
  letter-spacing: 0.06em;

}

.title_lg {
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  letter-spacing: 0.06em;
}

.title_md {

}

.title_sm {

}

@include mixins.respond-to(variables.$sm) {
  .title {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 70px;
  }
}

.main_hot {

}