@use "../utils/mixins";
@use "../utils/variables";

.footer {
  position: relative;
  padding: 30px 0 58px;
  font-size: 10px;
  line-height: 14px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 109px;
    display: inline-block;

    img {
      max-width: 100%;
    }
  }
}

.copyright {
  font-size: 10px;
  line-height: 14px;
  padding-left: 20px;

  span {
    display: block;
    text-align: right;
  }
}

.copyright a:hover,
.copyright a:focus {
  text-decoration: underline;
}

.disclaimer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height:32px;
  z-index: 100;

  img {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

}

@include mixins.respond-to(variables.$sm) {
  .footer {
    padding-top: 60px;
    padding-bottom: 105px;
  }
  .disclaimer {
    height: 64px;
  }
}
@include mixins.respond-to(variables.$md) {
  .footer {
    padding-top: 60px;
    padding-bottom: 85px;
  }
  .disclaimer {
    height: 25px;
  }
}

@include mixins.respond-to(variables.$xl) {
  .footer {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .disclaimer {
    height: 40px;
  }
}
@include mixins.respond-to(variables.$xxl) {
  .footer {
    padding-top: 80px;
    padding-bottom: 170px;
  }
  .disclaimer {
    height: 55px;
  }
}
