@use "../utils/mixins";
@use "../utils/variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 12px 0;
  min-height: 60px;
  z-index: 12;

  &__logo {
    display: block;
    max-width: 124px;
    height: auto;
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1000;
  }

  .btn_burger,
  .btn_close {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    border: none;
    right: 4px;
    z-index: 1;

  }

  .btn_burger {
    background-image: url(../assets/img/burger.svg);
    top: -12px;
  }

  .btn_close {
    background-image: url(../assets/img/close.svg);
    top: 0;
  }

  .btn_mob {
    width: 100%;
  }

  &__nav {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    background: linear-gradient(261.51deg, #006BB6 1.66%, #004E9E 35.57%, #094086 63.71%, #092E67 87.36%);
    padding: 0;
    transform: translateX(-100%);
    transition: .35s;
    z-index: 600;
    height: 100vh;
    overflow: hidden;

    &.open {
      transform: translateX(0);
      transition: .5s;
    }
  }

  &__nav-inner {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 110px);
    height: 100%;
    overflow-y: auto;
    padding: 0 42px 0 48px;
  }
}

.header__nav-topbar {
  min-height: 60px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}


@include mixins.respond-to(variables.$sm) {
  .header {
    &__logo {
      margin-right: 35px;
    }

    .container {
      justify-content: space-between;
    }

    .btn_burger {
      display: none;
    }

    .header__nav {
      position: relative;
      left: auto;
      top: auto;
      bottom: auto;
      transform: none;
      height: auto;
      background: transparent;
      transition: none;
    }

    .header__nav-topbar {
      display: none;
    }

    .header__nav-inner {
      height: auto;
      padding: 0;
      overflow: hidden;
    }

    .btn_mob {
      display: none;
    }

    .menu {
      display: flex;
      justify-content: flex-end;

      gap: 20px;
      padding: 0;
    }

    .menu__item {
      font-size: 15px;
      line-height: 1;
      margin-bottom: 0;
      font-weight: 500;

      a {
        white-space: nowrap;
        padding: 0;
      }
    }

    .menu__link:after {
      display: none;
    }
  }
}


@include mixins.respond-to(variables.$md) {
  .header {
    color: #FFFFFF;
    padding: 24px 0;

    &__logo {
      max-width: 140px;
    }
  }
}
