@use "../../utils/mixins";
@use "../../utils/variables";

.section{
  padding: 40px 0;
  overflow: hidden;
  &__header{
    margin-bottom: 30px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .section {
    padding: 80px 0;
    &__header{
      margin-bottom: 70px;
    }
  }
}

@include mixins.respond-to(variables.$md) {
  .section {
    padding: 100px 0;
    &__header{
      //margin-bottom: 70px;
    }
  }
}