@use "../../utils/mixins";
@use "../../utils/variables";

.section-about {
  padding-bottom: 23px;
  .title_lg {
    margin-bottom: 10px;
    text-align: center;
  }

  .sub-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 0.01em;
    text-align: center;
  }

  .section__header {
    margin-bottom: 34px;
  }

  .about-grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;

    &__header-col,
    &__animation-col {
      width: 100%;
    }
  }

  .moving-element {
    width: 386px;
    height: 323px;
    opacity: 0.8;
    background: linear-gradient(341.13deg, #36FFAB 22.48%, #7DE2FF 47.61%);
    filter: blur(130px);
    top: 0;
  }

  .pill-anim-wrap {
    position: relative;
    z-index: 1;
  }
}

.slider-about {
  overflow: visible;
  padding-bottom: 16px;

  .swiper-slide {
    width: 271px;
    height: auto;
  }
}

.card-about {
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &:before {
    position: absolute;
    content: '';
    display: block;
    background: radial-gradient(50.47% 50% at 47.91% 50%, rgba(6, 89, 172, 0) 0%, #00356C 95.74%);
    opacity: .8;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  &__thumb {
    width: 100%;
    height: 120px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
  }

  &__label {
    display: inline-block;
    background: rgba(0, 40, 81, 0.4);
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #00E6FF;
  }

  &__content {
    padding: 20px 20px 30px;

    p {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h4 {
      margin-bottom: 8px;
    }

    ul {
      padding-bottom: 20px;

      li {
        position: relative;
        padding-left: 24px;
        margin-bottom: 16px;

        &:before {
          position: absolute;
          content: '';
          display: block;
          background-image: url(../assets/img/ul-chek.svg);
          background-position: center;
          background-size: cover;
          width: 16px;
          height: 16px;
          top: 0;
          left: 0;
          z-index: 1;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.about-nav {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  padding-bottom: 20px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #00DDD8;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 800;
    line-height: 16.8px;
    text-align: center;
    width: 33%;
    transition: .35s;

    sup {
      font-size: 0.6em;
      line-height: 14.4px;
    }

    span {
      white-space: nowrap;
    }

    &:before {
      border-radius: 24px;
    }

    &.active {
      background: linear-gradient(96.49deg, #05FFDA 5.97%, #00C6FF 98.25%);
      color: #204679;
    }

    &:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      linear-gradient(96.49deg, #00C6FF 5.97%, #05FFDA 98.25%);
      box-shadow: 0 0 20px 0 #04F4E280;
      color: #204679;
    }
  }
}

.about-stars {
  right: 0;
  bottom: 0;
  transform: translate(17%, 36px);
  height: 300px;
}

@include mixins.respond-to(variables.$sm) {
  .about-nav__btn {
    max-width: 200px;
    padding-left: 46px;
    padding-right: 46px;
    border-radius: 40px;
    line-height: 19.6px;

    &:before {
      border-radius: 40px;
    }
  }
  .about-nav {
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
  }
  .slider-about {
    padding-bottom: 42px;
    .swiper-slide {
      width: 614px;
    }
 .swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: 10px;
    }
  }
  .card-about {
    display: flex;
    border-radius: 60px;
    font-size: 16px;

    &__thumb {
      height: 518px;
      width: 42.5%;
      min-width: 260px;
    }

    &__content {
      width: 57.5%;
      padding: 40px 30px;

      h4 {
        font-size: 20px;
      }

      ul {
        padding-bottom: 30px;
      }

      ul li:before {
        width: 20px;
        height: 20px;
      }
    }

    &__title {
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 16px;
    }

    &__label {
      font-size: 16px;
      padding: 10px 20px;
      margin-bottom: 20px;
    }
  }
  .section-about {
    padding-bottom: 38px;
    .sub-title {
      font-size: 32px;
      line-height: 38.4px;
      max-width: 676px;
      margin-left: auto;
      margin-right: auto;
    }

    .section__header {
      margin-bottom: 70px;

      sup {
        font-size: x-large;
        vertical-align: text-top;
      }
    }

    .about-grid {
      margin-bottom: 160px;

      &__header-col {
        margin-bottom: 0;
      }
    }
  }
  .about-stars {
    height: 477px;
  }
}

@include mixins.respond-to(variables.$md) {
  .slider-about {
    overflow: hidden;
    padding-bottom: 0;

    .swiper-pagination {
      display: none;
    }

    .swiper-slide {
      width: 100%;
      visibility: hidden;
    }

    .swiper-slide-active {
      visibility: visible;
    }
  }
  .about-nav {
    &__btn {
      min-width: 280px;
      padding: 7px 40px;

      br {
        display: none;
      }
    }
  }
  .card-about {
    font-size: 20px;
    line-height: 24px;

    &__thumb {
      width: 340px;
      height: 100%;
      min-height: 560px;
      flex-shrink: 0;
    }

    &__content {
      padding: 60px 40px 60px 70px;
      width: 64.5%;

      ul {
        padding-bottom: 40px;
      }
    }

    &__title {
      font-size: 32px;
      margin-bottom: 11px;
    }

    &__label {
      margin-bottom: 40px;
    }
  }
  .section-about {
    padding-top: 150px;

    .sub-title {
      text-align: left;
    }

    .title_lg {
      position: relative;
      text-align: left;

      &:after {
        position: absolute;
        content: '';
        display: block;
        background-color: #FFFFFF;
        height: 8px;
        width: 45px;
        top: 50%;
        transform: translateY(-50%);
        right: -70px;
        z-index: 1;
      }
    }

    .section__header {
      text-align: left;
      max-width: 350px;
      margin-bottom: 0;
    }

    .title_lg {
      display: inline;
    }

    .about-grid {
      flex-direction: row;
      align-items: center;
      margin-bottom: 220px;
      &__header-col,
      &__animation-col {
        width: 50%;
        margin-bottom: 0;
      }

      &__animation-col {
        display: flex;
        justify-content: flex-end;
      }

      .pill-anim-wrap {
        flex-shrink: 0;
        width: 714px;
        height: 384px;
      }
    }
  }
  .about-stars {
    transform: translate(23%, 54px);
    height: 546px;
  }
}

@include mixins.respond-to(variables.$xl) {
  .section-about {
   .about-grid{
     margin-bottom: 200px;
   }
  }
}

@include mixins.respond-to(variables.$xxl) {
  .card-about__content {
    padding: 70px 102px 98px 70px;
    flex-grow: 1;
  }
  .section-about .title_lg {
    display: inline-block;
  }
  .section-about .section__header {
    max-width: 100%;

  }
}