@use "../../utils/mixins";
@use "../../utils/variables";

.section-banner {
  padding-top: calc(60px + 48px);
  padding-bottom: 40px;

  .container {
    position: relative;
  }

  .banner-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
  }

  .banner-grid__header {
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
  }

  .banner-grid__img-block {
    position: relative;
    width: 50%;
    z-index: 1;
  }

  .banner-grid__call2action-row {
    position: relative;
    width: 50%;
    z-index: 5;
  }

  .banner-grid__addition-info {
    position: relative;
    width: 100%;
  }

  .banner-grid__title {
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 61.6px;
    letter-spacing: 0.06em;
  }

  .banner-grid__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0.01em;
  }

  .banner-grid__product-img {
    position: relative;
    max-width: 194px;
    z-index: 3;
  }

  &__thumb {
    width: 62%;
    padding-left: 8%;
    position: relative;
  }

  .banner__img-block {
    position: relative;
  }

  .back-wave {
    position: absolute;
    height: 434px;
    width: auto;
    max-width: none;
    left: auto;
    right: 0;
    transform: translate(27%, 92px);
    z-index: 1;
  }

  //
  //.back-wave-l {
  //  left: 0;
  //  transform: translate(-90%, 103px);
  //}
  //
  //.back-wave-r {
  //  left: 0;
  //  transform: translate(10%, 50px);
  //}

  .ellipse-back {
    position: absolute;
    pointer-events: none;
    filter: blur(120px);
  }

  .ellipse-back-1 {
    background: #0F2F6E;
    width: 536.94px;
    height: 689.27px;
    top: -9px;
    left: -90%;

  }

  .ellipse-back-2 {
    width: 319.25px;
    height: 400.41px;
    opacity: 0.6;
    background: linear-gradient(341.13deg, #7DE2FF 22.48%, #36FFAB 47.61%);
    top: 162px;
    right: -130px;
    z-index: 0;
  }
}

.banner__stars {
  position: absolute;
  pointer-events: none;
  width: auto;
  max-width: none;
  left: 0;
  z-index: 2;

  &_1 {
    height: 264px;
    transform: translate(-23%, 0);
  }

  &_2 {
    height: 434px;
    transform: translate(-63%, -68px);
  }
}

@include mixins.respond-to(variables.$sm) {
  .section-banner {
    padding-top: 180px;

    .back-wave {
      height: 612px;
      transform: translate(25%, 41%);
    }

    .btn_primary {
      padding: 19px 50px;
    }

    .banner-grid__header {
      text-align: center;
      padding-bottom: 14px;
      order: 1;
    }

    .banner-grid__title {
      font-size: 88px;
      line-height: 97px;
    }

    .banner-grid__subtitle {
      font-size: 32px;
      line-height: 35.2px;

      br {
        display: none;
      }
    }

    .banner-grid__call2action-row {
      width: 100%;
      order: 2;
      display: flex;
      justify-content: center;
      margin-bottom: 70px;
    }

    .banner-grid__addition-info {
      order: 3;
      width: 50%;
      z-index: 20;
      padding-right: 40px;

      .card {
        text-align: left;
      }
    }

    .banner-grid__img-block {
      order: 4;
      width: 50%;
      padding-left: 40px;
    }

    .banner-grid__product-img {
      max-width: 309px;
    }

    .banner-grid__addition-info {
      padding-bottom: 60px;
    }
  }
  .banner__stars {
    &_1 {
      height: 430px;
      transform: translate(-19%, -45px);
    }

    &_2 {
      height: 562px;
      transform: translate(-58%, -68px);
    }
  }
  .section-banner .ellipse-back-1 {
    left: -36%;
  }
}

@include mixins.respond-to(variables.$md) {
  .section-banner {
    padding-top: 156px;
    padding-bottom: 112px;

    .banner-grid__subtitle {
      font-size: 28px;
      line-height: 33.6px;
    }

    .banner-grid {
      display: grid;
      grid-template-columns: 50% 50%; /* Two columns, each taking 50% */
      grid-template-rows: auto auto auto; /* Three rows for content */
      width: 100%; /* Full width of the container */
      gap: 0;
    }

    .banner-grid__header {
      grid-column: 1 / 2; /* First column */
      grid-row: 1 / 2; /* First row */
      width: 100%;
      text-align: left;
      padding-top: 10px;
    }

    .banner-grid__call2action-row {
      grid-column: 1 / 2; /* First column */
      grid-row: 2 / 3; /* Second row */
      width: 100%;

      .btn_primary {
        margin-right: auto;
        min-width: 151px;
        margin-bottom: 30px;
      }
    }

    .banner-grid__addition-info {
      grid-column: 1 / 2; /* First column */
      grid-row: 3 / 4; /* Third row */
      width: 100%;
      padding-right: 16px;
      padding-bottom: 0;
    }

    .banner-grid__img-block {
      grid-column: 2 / 3; /* Second column */
      grid-row: 1 / 4; /* Span all three rows */
      width: 100%;
      padding-left: 90px;
    }

    .banner-grid__product-img {
      max-width: 340px;
    }

    .message-block {
      display: flex;
      align-items: center;
      text-align: left;
      padding: 24px 30px;
      margin-bottom: 33px;
      max-width: 464px;

      .btn_secondary {
        flex-shrink: 0;
      }

      p {
        margin-bottom: 0;
      }
    }

    .back-wave {
      height: 768px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -24%;

    }

    .ellipse-back-2 {
      width: 720px;
      height: 768px;
      top: -30px;
      right: -30%;
      filter: blur(260px);
    }

    .ellipse-back-1 {
      width: 1042px;
      height: 1027.29px;
      filter: blur(260px);
      left: -65%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .banner__stars {
    &_1 {
      height: 472px;
      transform: translate(-20%, -82px);
    }

    &_2 {
      height: 768px;
      transform: translate(-57%, -148px);
    }
  }
}

@include mixins.respond-to(variables.$xl) {
  .section-banner {
    //.back-wave {
    //  height: 646px !important;
    //}

    //.back-wave-r {
    //  transform: translate(30%, 50px);
    //}
    //.back-wave-l {
    //  transform: translate(-90%, 125px);
    //}
  }
  .banner__stars {
    &_1 {
      left: 0;
      width: 1089px;
      transform: translate(-23%, -58px);
    }

    &_2 {
      height: 768px;
      width: auto;
      left: 0;
      transform: translate(-58%, -131px);
    }
  }
}

@include mixins.respond-to(variables.$xxl) {

}


