@use "../../utils/mixins";
@use "../../utils/variables";

.section-app {
  .title{
    font-weight: 600;
  }
  sup {
    font-size: 15px;
    vertical-align: text-top;
  }

  .labels-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 40px;

    &__item {
      &:nth-child(1) {
        width: 100%;

        .pill-label {
          width: max-content;
        }
      }
    }
  }
}

@include mixins.respond-to(variables.$sm) {
  .section-app {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: 124px;
    .pill-label {
      padding-top: 12px;
      padding-bottom: 12px;

      &__icon {
        width: 32px;
        height: 32px;
      }
    }

    .section__header{
      margin-bottom: 60px;
    }
    sup {
      font-size: 20px;
    }

    .labels-grid {
      padding-bottom: 24px;
      br {
        display: none;
      }

      &__item {
        &:nth-child(1) {
          width: auto;
        }
      }
    }
  }
}

@include mixins.respond-to(variables.$md){
  .section-app{
    padding-top: 120px;
    bottom: 224px;
  }
}