.section-banner {
  padding-top: 48px;
  padding-bottom: 40px;
  overflow: hidden;
  .container{
    position: relative;
  }
  .sub-title {
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0.01em;
  }

  .wrap-btn {
    position: relative;
    z-index: 1;
    width: 38%;
  }

  &__header {
    margin-bottom: 28px;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__thumb {
    width: 62%;
    padding-left: 8%;
    position: relative;

    img {
      max-width: 194px;
    }
  }
  .ellipse{
    position: absolute;
    width: 319.25px;
    height: 400.41px;
    opacity: 0.6;
    background: linear-gradient(341.13deg, #7DE2FF 22.48%, #36FFAB 47.61%);
    filter: blur(154px)
  }
}



.heading-site {
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  letter-spacing: 0.06em;
}

@include respond-to($lg) {
  .section-banner {

  }
}

@include respond-to($md) {
  .section-banner {

  }
}

@include respond-to($sm) {
  .section-banner {

  }

}
