@use "../../utils/mixins";
@use "../../utils/variables";

.section-symptoms {
  position: relative;

  .container {
    position: relative;

    & > * {
      position: relative;
      z-index: 2;
    }
  }

  .labels-grid {
    display: grid;
    row-gap: 4px;
    margin-bottom: 30px;
  }

  .labels-grid__item {
    display: inline-flex;
  }

  .btn {
    min-width: 116px;
  }

  .moving-element {
    filter: blur(65px);
    background: radial-gradient(93.19% 74.17% at 30% 59%, rgb(255, 255, 255), rgb(204, 0, 255) 52.831%, rgb(35, 141, 172) 100%);
    opacity: 0.28;

    width: 330px;
    height: 330px;
    position: absolute;
    top: 65px;
    left: 100px;
    transform: translateX(-100%);
    z-index: 1;
    animation: flow .5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  }

  .call2action-row {
    display: flex;
    gap: 24px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .section-symptoms {
    .section__header{
      text-align: center;
    }
    .labels-grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 4px;
      margin-bottom: 60px;
    }

    .pill-label {
      width: 100%;
    }

    .call2action-row {
      justify-content: center;
    }
  }
}

@include mixins.respond-to(variables.$md) {
  .section-symptoms {
    .section__header {
      max-width: 784px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
}