.section-app{
  sup {
    font-size: 15px;
    vertical-align: text-top;
  }
  .block-label__item {
    margin-right: 8px;
    margin-bottom: 8px;
    &:first-child {
      margin-right: 25px;
    }
  }
}