@use "../../utils/mixins";
@use "../../utils/variables";

.section-manifestation {
  position: relative;

  .message-block {
    padding-top: 42px;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    transition: transform 1.5s ease, opacity 1s ease;
    //transform: translateY(150%);
    //opacity: 0;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background-image: url(../assets/img/danger.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    p {
      max-width: 406px;
      width: 100%;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }

    &.move-up {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .moving-element{
    width: 254px;
    height: 240px;
  }
}

.manifestation-grid {
  display: flex;
  flex-wrap: wrap;
}

.manifestation-grid__bg {
  position: absolute;
  background-image: url(../assets/img/back-wave-girl-1920.png);
  background-position: center bottom;
  background-size: cover;
  left: 50%;
  transform: translateX(-45%);
  height: 463px;
  width: 397px;
  bottom: -68px;
  z-index: -1;
}

.sticky-trigger {
  position: relative;
  top: 0;
  border: 2px solid red;
}

.manifestation-list {
  min-height: 50px;
  padding-bottom: 13px;
  overflow: hidden;

  ul {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
  }
}

.manifestation {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  padding-left: 16px;
  position: relative;
  max-width: 280px;
  transition: opacity 0.5s ease, filter 0.5s ease;
  opacity: 0.5;
  backdrop-filter: blur(2px);
  margin-right: 8px;
  flex-shrink: 0;
  width: auto;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #01CAFA;
    top: 6px;
    left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.manifestation.visible {
  opacity: 1;
  filter: blur(0);
}

.images {
  position: relative;
  width: 100%;
  height: 332px;
}

.image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(.95);
  width: 182px;
  height: 284px;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image.visible {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.icons .icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.icons .icon.visible {
  opacity: 1;
}

@include mixins.respond-to(variables.$sm) {
  .manifestation-list {
    order: 1;
    width: 50%;
    transform: none;
    padding-bottom: 47px;

    ul {
      display: block;
    }
  }
  .manifestation {
    max-width: 100%;
    margin-bottom: 12px;
    margin-right: 0;
    font-size: 16px;
    line-height: 1.4;

    &:before {
      top: 8px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.visible {
      font-size: 20px;

      &:before {
        top: 11px;
      }
    }
  }
  .section-manifestation {
    .section__header {
      margin-bottom: 50px;
    }

    .title {
      max-width: 609px;
    }

    .message-block {
      font-size: 24px;
      line-height: 1.4;
      padding-top: 80px;
      p {
        max-width: 610px;
      }
      &::before {
        width: 60px;
        height: 60px;
        top: 28px;
      }
    }

    .images {
      width: 50%;
      min-height: 396px;
      padding-top: 42px;
      height: auto;
    }

    .icon {
      top: -11px;
    }
  }

  .image {
    width: 228px;
    height: auto;
    transform: translateX(calc(-50% + 15px)) scale(.95);

    &.visible {
      transform: translateX(calc(-50% + 15px)) scale(1);
    }
  }
}

@include mixins.respond-to(variables.$md) {
  .manifestation-list {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    li {
      font-size: 16px;

      li.visible {
        font-size: 20px;
        opacity: 1;
        filter: blur(0);
      }
    }
  }
  .manifestation-grid {
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: auto auto;
  }
  .section-manifestation {
    .message-block {
      padding-bottom: 30px;
      p {
        max-width: 610px;
        margin: 0 auto;
      }
    }

    .container {
      overflow: hidden;
    }

    .images {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      width: 100%;
      padding-top: 56px;
      min-height: 620px;
    }

    .section__header {
      margin-bottom: 20px;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding-top: 28px;
    }

    .icon {
      top: -60px;
      left: -70px;
    }
  }
  .image {
    width: 350px;
    left: 0;
    transform: translateX(35px) scale(0.95);

    &.visible {
      transform: translateX(35px) scale(1);
    }
  }
}

@include mixins.respond-to(variables.$xl){
  .image {
    width: 360px;
  }
}