@use "../../utils/mixins";
@use "../../utils/variables";

.section-improvement {
  .back-wave {
    position: absolute;
    width: auto;
    max-width: none !important;
    z-index: 0;
    height: 450px;
    right: auto;
    left: auto;
    bottom: -108px;
    will-change: transform;
    transition: transform 0.3s ease-out;
  }

}

.improvement-grid {
  .section__header {
    position: relative;
    z-index: 1;
  }

  &__product-img {
    position: relative;
    margin-right: 45px;
    max-width: 166px;
    height: auto;
    z-index: 1;
  }

  &__img-block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

  .labels-grid {
    position: relative;
    margin-bottom: 25px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    z-index: 1;
  }
}

.improvement-stars {
  left: auto;
  right: auto;
  bottom: 0;
  height: 170px;
  transform: translate(17%, -56px);
}

@include mixins.respond-to(variables.$sm) { // 768
  .section-improvement {
    .moving-element {
      width: 438px;
      height: 457px;
      opacity: 0.5;
      filter: blur(80px);
      background: #0096FF;
      right: 50%;
      animation: float3 25s infinite linear;
    }
    .title {
      text-align: center;
    }

    .back-wave {
      height: 660px;
      right: auto;
      left: -302px;
      bottom: -85px;
    }

    .section__header {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 610px;
    }
  }
  .improvement-grid {
    display: flex;
    flex-wrap: wrap;

    .labels-grid {
      order: 1;
      width: 50%;
      margin-bottom: 0;
      gap: 8px;
    }

    &__product-img {
      max-width: 282px;
      flex-grow: 1;
      margin-left: -30px;
    }

    &__img-block {
      width: 50%;
      justify-content: flex-start;
      align-items: center;
    }

    .pill-label {
      padding-top: 12px;
      padding-bottom: 12px;

      &__icon {
        width: 32px;
        height: 32px;
      }
    }
  }
  .improvement-stars {
    left: auto;
    right: 0;
    bottom: 50%;
    height: 252px;
    transform: translate(33%, 70px);
  }
}

@include mixins.respond-to(variables.$md) { // 1024
  .improvement-grid {
    &__product-img {
      max-width: 308px;
      margin-left: 0;
    }
  }
  .section-improvement {
    .section__header {
      max-width: 615px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
    }

    .back-wave {
      height: 876px;
      left: -374px;
      bottom: -153px;
    }
  }
  .improvement-stars {
    height: 313px;
    transform: translate(33%, 88px);
  }
}

@include mixins.respond-to(variables.$xl) { // 1440
  .improvement-grid {
    &__product-img {
      max-width: 350px;
      margin-left: -40px;
    }
  }
  .section-improvement {
    .section__header {
      max-width: 878px;
      margin-bottom: 80px;
    }

    .back-wave {
      height: 940px;
      left: -439px;
      bottom: -187px;
    }

  }
}

@include mixins.respond-to(variables.$xxl) { // 1920
  .improvement-grid {
    align-items: flex-start;

    .pill-label {
      padding: 20px;
      height: 100%;
      align-items: flex-start;
    }

    .labels-grid {
      width: 49%;
      padding-top: 45px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }
  }
  .section-improvement {
    .section__header {
      max-width: 895px;
      margin-bottom: 80px;
    }

    .back-wave {
      height: 1024px;
      left: -68%;
      bottom: -235px;
    }
  }
}