.section-app{
  &__thumb{
    padding-left: 46px;
    max-width: 240px;
    margin: 0 auto;
  }
  sup {
    font-size: 15px;
    vertical-align: text-top;
  }
  .block-label {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 40px;
    &__item {
      &:first-child {
        margin-right: 30px;
      }
    }
  }
}