.section-about{
  .sub-title{
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 0.01em;
    margin-bottom: 34px;
    text-align: center;
  }
  #animation-container{
    margin-bottom: 48px;
  }
}