@use "../../utils/mixins";
@use "../../utils/variables";

.section-faq {
  padding-bottom: 56px;
  position: relative;
  .title {
    font-weight: 600;
  }
}

.bg-mask {
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    background: linear-gradient(96.49deg, #00E0E0 5.97%, #00C6FF 98.25%);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

@include mixins.respond-to(variables.$sm) {
  .section-faq {
    padding-bottom: 100px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    .section__header {
      margin-bottom: 40px;
    }
  }
  .accordion__item h4 {
    font-size: 16px;
  }
}

@include mixins.respond-to(variables.$md) {
  .section-faq {
    padding-top: 120px;
    padding-bottom: 194px;
  }
}
